* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p { 
    line-height: 30px;
}

a:link, a:visited {
    color: slategray;
    text-decoration: none;
    border-bottom: 1px dotted slategray;
}

a:hover {
    color: #333;
    border-color: #333;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 900px;
    margin: 0 auto;
}

ol {
    padding: 0;
    list-style-type: none;
    display: flex;
}

li {
    width: 33%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 15px;
}

.date {
    padding-top: 10px;
    font-size: small;
    font-style: italic;
    color: #999;
}

.error {
    margin: 20 0px;
    padding: 20px;
    background: #F79D98;
    border: 2px solid #f32020;
}

.error p {
    color: #f32020;
    font-weight: 700;
    margin: 0;
}